<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>task drag</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- LITTLE NASTY WOULD PREFER IN CSS template -->
    <style th:if="${ @allStates.size() > 0}">
        /* Create three equal columns that floats next to each other */
        .column {
          float: left;
          width: [[${100/ @allStates.size() }]]%;
          padding: 10px;
          padding-bottom:100px;
        }
    </style>
    <style th:if="${ @allStates.size() == 0}">
        /* Create three equal columns that floats next to each other */
        .column {
          float: left;
          width: 100%;
          padding: 10px;
          padding-bottom:100px;
        }
    </style>
    <!-- dont escape it -->
    [(${@getStyle})]
    <link rel="stylesheet" th:href="@{/styles/site.css}">
</head>
<script>
    var dontRefreshTooQuickly=100;
    function updateAllEntries() {
        setTimeout(function(){
            $.get("/all_entries").done(function(fragment) {
                    $("#all_entries").replaceWith(fragment);
                });
        },dontRefreshTooQuickly);
    }
    function updateKanban() {
        setTimeout(function(){
            $.get("/kanban").done(function(fragment) {
                $("#kanban").replaceWith(fragment);
            });
        },dontRefreshTooQuickly);
    }
    function toggleAdmin() {
        if ( $("#admin").css("display") != "block" ) {
            $("#admin").css("display","block");
        } else {
            $("#admin").css("display","none");
        }
    }
</script>
<body>
    <div id="errorModal" class="modal">

    <div class="modal-content error-modal-content">
        <span class="errorClose">x</span>
        <p id="errorModalHelp">Some text in the Modal..</p>
        <code id="errorModalText">Some text in the Modal..</code>
    </div>

    </div>
    <div class="header">
        <h2 class="inabox" style="float:right" onclick="toggleAdmin()">admin</h2>
        <img src="header.png" >
        <h3>welcome
        <form id="logout" action="/logout" method=post>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <a href="javascript:document.forms['logout'].submit()">[[${username}]]</a>
        </form>
        </h3>
    </div>

    <div th:insert="new_work">
    </div>

    <div th:insert="new_note">
    </div>


    <!-- all_entries -->
    <div th:replace="admin">
    </div>
    <div th:replace="kanban">
    </div>
</body>
<script>
function closeErrorModal() {
    $("#errorModal").css("display","none");
}
$(".errorClose").click(closeErrorModal);

function openError(help,message) {
    $('#errorModalHelp').text(help);
    $('#errorModalText').text(message);
    $("#errorModal").css("display","block");
}
</script>
</html>